@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --maincolor:#2ec8a6;
    --secondcolor:#f8a803;
    --thirdcolor:#f4ab01;
    --textcolor:#4A5764;
}
*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    font-family: "Inter", sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    z-index: 1000;
    background-color: white !important;
    height: 90px;

}

.logo img{
    width: 100%;
}
.navbar a{
    color: var(--textcolor);
    font-size: 1.7rem;
    margin: 1rem;
    position: relative;
    transition: 0.5s;
}
.navbar a:hover{
    color: var(--maincolor);
}

.navbar a::after{
    content: "";
    background-color: var(--maincolor);
    width: 0;
    position: absolute;
    height: 0.2rem;
    left: 0;
    margin-top: 0.5rem;
    top: 100%;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--textcolor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--maincolor);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#menu-bars{
    color: var(--textcolor);
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 1rem;
    display: none;
}
#menu-bars:hover{
    color: var(--maincolor);
}
.right-icons .btn{

    padding: 1.2rem 2rem;
    font-size: 1.7rem;
    background: var(--maincolor);
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.right-icons .btn:hover{
    background-color: var(--secondcolor);
}


.content {
    font-family: Arial, sans-serif;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 90px;
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bg blur2.jpg') repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    padding-top: 120px;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    margin: 20px;
    position: relative;
    z-index: 1;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

@media (min-width: 600px) {
    .form-group {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    label {
        font-size: 15px;
        flex: 1;
        margin-bottom: 0;
        margin-right: 10px;
        text-align: left;
    }

    input, select {
        flex: 2;
    }
}
